In [7]:
from IPython.display import display_html
from itertools import chain,cycle

In [14]:
def display_side_by_side(*args,titles=cycle([''])):
    html_str='<div style="display: grid; grid-template-columns: repeat(2, minmax(0, 1fr)); gap: 1rem;">'
    for df,title in zip(args, chain(titles,cycle(['</br>'])) ):
        html_str+='<div>'
        html_str+=f'<h2 style="text-align: center;">{title}</h2>'
        html_str+=df._repr_html_()
        html_str+='</div>'
    html_str+='</div>'
    display_html(html_str,raw=True)

In [5]:
from sklearn.datasets import load_iris
import pandas as pd

iris = load_iris()

df = pd.DataFrame(iris.data, columns=iris.feature_names)
df['species'] = pd.Categorical.from_codes(iris.target, iris.target_names)

setosa_df = df[df['species'] == 'setosa']
versicolor_df = df[df['species'] == 'versicolor']
virginica_df = df[df['species'] == 'virginica']

# Display the first few rows of each DataFrame to verify
setosa_df.head(), versicolor_df.head(), virginica_df.head()

(   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
 0                5.1               3.5                1.4               0.2
 1                4.9               3.0                1.4               0.2
 2                4.7               3.2                1.3               0.2
 3                4.6               3.1                1.5               0.2
 4                5.0               3.6                1.4               0.2

   species
 0  setosa
 1  setosa
 2  setosa
 3  setosa
 4  setosa  ,
     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
 50                7.0               3.2                4.7               1.4
 51                6.4               3.2                4.5               1.5
 52                6.9               3.1                4.9               1.5
 53                5.5               2.3                4.0               1.3
 54                6.5               2.8                4.6               1.5

        species
 50  versicolor
 51  versicolor
 52  versicolor
 53  versicolor
 54  versicolor  ,
      sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
 100                6.3               3.3                6.0               2.5
 101                5.8               2.7                5.1               1.9
 102                7.1               3.0                5.9               2.1
 103                6.3               2.9                5.6               1.8
 104                6.5               3.0                5.8               2.2

        species
 100  virginica
 101  virginica
 102  virginica
 103  virginica
 104  virginica  )

In [15]:
display_side_by_side(
    setosa_df.head(),
    versicolor_df.head(),
    virginica_df.head(),
    titles=[
        'Setosa',
        'Versicolor',
        'Virginica'
    ]
)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
50,7.0,3.2,4.7,1.4,versicolor
51,6.4,3.2,4.5,1.5,versicolor
52,6.9,3.1,4.9,1.5,versicolor
53,5.5,2.3,4.0,1.3,versicolor
54,6.5,2.8,4.6,1.5,versicolor
,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
100,6.3,3.3,6.0,2.5,virginica
101,5.8,2.7,5.1,1.9,virginica
102,7.1,3.0,5.9,2.1,virginica
103,6.3,2.9,5.6,1.8,virginica
104,6.5,3.0,5.8,2.2,virginica